*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
*/bower_components/*
*/public/components/*
bower_components/*
node_modules/*
public/components/*
