/**
 * Stylesheet for Frontend Website
 */

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body
{
	/* Margin bottom by footer height */
	margin-bottom: 60px !important;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; 
	overflow: hidden;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
	padding: 10px 15px 0;
}
.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

section {
	padding: 80px 0;
}

.section h2.section-heading {
	  font-size: 40px;
	  margin-top: 0;
	  margin-bottom: 15px;
}
.section h3.section-subheading {
	  font-size: 16px;
	  font-weight: 400;
	  font-style: italic;
	  margin-bottom: 75px;
	  text-transform: none;
}

  @media(min-width:768px) {
	section {
	  padding: 100px 0;
	}
  }
  
/* top nav logo and app title */
a.navbar-brand {
	width:240px;
}
a.navbar-brand img {
	width: 25px;
    float: left;
    margin-right: 10px;
}
